.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin-top: 1rem;

}
.book-card{
    border: 1px solid lightcyan;
    padding: 1rem;
    text-align: center;
    box-shadow: 2px 2px 10px 1px lightgrey;
    border-radius: 10px;
}
.book-card img{
    width: 80%;
}